# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen
.idea/.gitignore
.idea/NLP-with-Disaster-Tweets.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

# Virtual Environment
/venv
/env
/virtualenv